doctype html
html
  include header.pug
  body
    // navbar
    include navbar-in.pug
    .jumbotron.jumbotron-fluid.blog
      .container.text-center
        h1.display-3 Blog
        p.lead
          | Great articles from expert authors, designed to help improve your chances of landing a dream job in your ideal field.
    // main content
    .container.features.blog-features
      // blog post 1
      .row.feature-section.blog-post
        .col-lg-6.order-2.order-lg-1
          h2 Create custom lists of interview questions
          p
            | Cornhole humblebrag unicorn retro, intelligentsia 90's letterpress kinfolk DIY meditation succulents venmo. kickstarter fixie gastropub unicorn tbh. Gluten-free la croix aesthetic jean shorts beard. Flannel blog bushwick you probably haven't heard of them venmo. Before they sold out fixie biodiesel distillery swag portland, four dollar toast truffaut gentrify. Shabby chic gastropub flexitarian VHS. Shabby chic messenger bag truffaut raw denim tousled viral. Etsy listicle gentrify forage next level shoreditch plaid. Chillwave master cleanse truffaut VHS.
        .col-lg-6.order-1.order-lg-2
          img.img-fluid(src='http://via.placeholder.com/500x300')
      // blog post 2
      .row.feature-section.blog-post
        .col-lg-6
          img.img-fluid(src='http://via.placeholder.com/500x300')
        .col-lg-6
          h2 Create custom lists of interview questions
          p
            | Cornhole humblebrag unicorn retro, intelligentsia 90's letterpress kinfolk DIY meditation succulents venmo. fixie gastropub unicorn tbh. Gluten-free la croix aesthetic jean shorts beard. Flannel blog bushwick you probably haven't heard of them venmo. Before they sold out fixie biodiesel distillery swag portland, four dollar toast truffaut gentrify. Shabby chic gastropub flexitarian VHS. Shabby chic messenger bag truffaut raw denim tousled viral. Etsy listicle gentrify forage next level shoreditch plaid. Chillwave master cleanse truffaut VHS.
      // blog post 3
      .row.feature-section.blog-post
        .col-lg-6.order-2.order-lg-1
          h2 Create custom lists of interview questions
          p
            | Cornhole humblebrag unicorn retro, intelligentsia 90's letterpress kinfolk DIY meditation succulents venmo. kickstarter fixie gastropub unicorn tbh. Gluten-free la croix aesthetic jean shorts beard. Flannel blog bushwick you probably haven't heard of them venmo. Before they sold out fixie biodiesel distillery swag portland, four dollar toast truffaut gentrify. Shabby chic gastropub flexitarian VHS. Shabby chic messenger bag truffaut raw denim tousled viral. Etsy listicle gentrify forage next level shoreditch plaid. Chillwave master cleanse truffaut VHS.
        .col-lg-6.order-1.order-lg-2
          img.img-fluid(src='http://via.placeholder.com/500x300')
      // blog post 4
      .row.feature-section.blog-post
        .col-lg-6
          img.img-fluid(src='http://via.placeholder.com/500x300')
        .col-lg-6
          h2 Create custom lists of interview questions
          p
            | Cornhole humblebrag unicorn retro, intelligentsia 90's letterpress kinfolk DIY meditation succulents venmo. fixie gastropub unicorn tbh. Gluten-free la croix aesthetic jean shorts beard. Flannel blog bushwick you probably haven't heard of them venmo. Before they sold out fixie biodiesel distillery swag portland, four dollar toast truffaut gentrify. Shabby chic gastropub flexitarian VHS. Shabby chic messenger bag truffaut raw denim tousled viral. Etsy listicle gentrify forage next level shoreditch plaid. Chillwave master cleanse truffaut VHS.
    // end of blog
    // footer
    footer
      .container
        p All rights reservered 2017©
    // end of footer
