
html
  include header.pug 
  body
    // navbar
    include navbar-in.pug
    
    // main content
    .container-fluid
      .row.create-list
        .col-lg-6.mx-auto.add-question.search.side-link-block
          h1 Add Question
          p Enter a question below to add to the interview questions list
          .input-group
            input#question-input.form-control(type='text', placeholder='Why do you want to work here?', aria-label='Search for...')
            span.input-group-btn
              button#add-button.btn.btn-outline-light(type='button') Add
      // end of search box
      .row
        .col-lg-12.pending-questions 
          h5.no-questions No questions added yet. Add some questions!
      .row
        .col-lg-6.mx-auto.add-list-button-div
          a#submit-question-list.btn.btn-dark.btn-block(href="/profile") Create List
    // footer
    footer.footer
      .container
        p All rights reserved 2017©
    // end of footer
    //list title modal
    #titleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='loginLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h4#loginLabel.modal-title Interview List Title
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            form(action="")
              .form-group
                label(for='exampleInputEmail1') Job Title
                input#titleInput.form-control(type='text', aria-describedby='emailHelp', placeholder='Enter title' name="listTitle")
              .form-group
                button#title-button.btn.btn-dark.btn-block(type='button') Start List
  include footer.pug
  // createlist js code
  script(src='js/createlist.js')