
html
  include header.pug
  body
    // navbar
    include navbar-in.pug
    
    // main content
    #interview-page.container-fluid
      .row
        .col-lg-6.mx-auto.question-div
          h3.interview-question
          .answer-div
            p.previous-answer Previous Answer
            .answer-text
              p
          .answer-box
            textarea#user-answer.form-control(rows='8', type='text', placeholder='Answer...', aria-label='Search for...')
            button.btn.btn-dark.btn-block.save-answer(type='button') Save Answer
      // end interview block
      .row.goodluck
        .col-lg-6.mx-auto.search.side-link-block
          h1 Good Luck!
          p Best of luck with your upcoming job interviews!
          a.btn.btn-block.btn-outline-light(href='/profile') Return to Profile
      // end of goodluck div
      // footer
    footer
      .container
        p All rights reserved 2017©
        // end of footer
  include footer.pug
  // interview js code
  script.
    // ! is required to use objects, # is used for strings
    var questions = !{JSON.stringify(locals.questions.questions)};
    var questionTitle = !{JSON.stringify(locals.questions.title)};
    
  script(src='/js/interview.js')
