html
  include header.pug
  body
    // navbar
    include navbar-in.pug
    
    // main content
    .container-fluid.search-content
      .row
        .col-lg-6.mx-auto.search.side-link-block
          h1 Search
          p Search for the latest lists to help you prepare for you job
          .input-group
            input.form-control(type='text', placeholder='Search for...', aria-label='Search for...')
            span.input-group-btn
              button.btn.btn-outline-light(type='button') Search
      // end of search box
      .recommended.row
        .col-lg-2.ml-auto.recommended-search.box-hr.fade-in
          h3 HR
        .col-lg-2.recommended-search.box-teaching.fade-in
          h3 Teaching
        .col-lg-2.recommended-search.box-admin.fade-in
          h3 Admin
        .col-lg-2.mr-auto.recommended-search.box-sales.fade-in
          h3 Sales
    // footer
    footer.footer
      .container
        p All rights reservered 2017©
    // end of footer
  include footer.pug